<div class="full-container">
  <form [formGroup]="profileForm">
    <div class="container">
      <div class="name-container">
        <div class="first-name">
          <mat-form-field class="register-field" hideRequiredMarker>
            <input
              placeholder="First Name"
              formControlName="firstName"
              type="text"
              matInput
              required
            />
            <mat-error *ngIf="profileForm.get('firstName')?.hasError('required')"
            >Please enter your first name
            </mat-error>
          </mat-form-field>
        </div>
        <div class="last-name">
          <mat-form-field class="register-field" hideRequiredMarker>
            <input
              placeholder="Last Name"
              formControlName="lastName"
              type="text"
              matInput
              required
            />
            <mat-error *ngIf="profileForm.get('lastName')?.hasError('required')"
            >Please enter your last name
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field class="register-field" hideRequiredMarker>
        <input
          placeholder="Email Address"
          formControlName="email"
          type="text"
          matInput
          required
        />
        <mat-error *ngIf="profileForm.get('email')?.hasError('required')"
        >Please enter a email
        </mat-error>
        <mat-error *ngIf="profileForm.get('email')?.hasError('pattern')"
        >Please enter a valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field class="register-field" hideRequiredMarker>
        <input
          matInput
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="profileForm.get('email')?.hasError('required')"
        >Please enter a password
        </mat-error>
      </mat-form-field>

      <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button value="{{genders.Male}}">Male</mat-radio-button>
        <mat-radio-button value="{{genders.Female}}">Female</mat-radio-button>
        <mat-radio-button value="{{genders.None}}">None</mat-radio-button>
      </mat-radio-group>

      <div class="date-selector">
        <mat-form-field appearance="fill">
          <mat-label>Choose your birthday</mat-label>
          <input matInput formControlName="birthday" [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <app-suggestion *ngIf="error" type="critical">
        <mat-icon class="mr-2">error_outline</mat-icon>
        {{ error.message }}
      </app-suggestion>
      <div class="submit-container">
        <button mat-flat-button
                color="primary"
                type="button"
                [disabled]="profileForm.invalid || loading"
                (click)="createProfile()">
          Register
          <mat-icon *ngIf="loading">
            <mat-spinner diameter="20">
            </mat-spinner>
          </mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
