<div class="full-container">
<form [formGroup]="profileForm">
<div class="container">
  <label for="first-name">First Name: </label><br>
  <input id="first-name" type="text" formControlName="firstName">
  <br>
  <label for="last-name">Last Name: </label><br>
  <input id="last-name" type="text" formControlName="lastName">
<br>
  <label for="email">Email: </label><br>
  <input id="email" type="text" formControlName="email">
<br>
  <label for="password">Password: </label><br>
  <input id="password" type="password" formControlName="password">
<br>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button type="button" class="registerbtn" (click)="createProfile()">Register</button>
</div>
  <div class="container signin">
    <p>Already have an account? <a routerLink="/auth/login">Sign in</a>.</p>
  </div>
</form>
</div>
<br>
<!--<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">-->
<!--  <p>Complete the form to enable button.</p>-->
<!--  <button type="submit" [disabled]="!profileForm.valid">Submit</button>-->
<!--</form>-->
