.example-spacer {
  flex: 1 1 auto;
}

.mat-button,
.mat-flat-button,
.mat-icon-button {
  border-radius: 30px;
  width: 100px;
}

.mat-flat-button ~ .mat-button {
  margin-left: 10px;
}

.toolbar-title{
  text-align: center;
  display: inline-block;
  width: 100%;
}
