.example-spacer {
  flex: 1 1 auto;
}

.mat-button,
.mat-flat-button,
.mat-icon-button {
  border-radius: 30px;
  width: 100px;
}

.mat-flat-button ~ .mat-button {
  margin-left: 10px;
}

.toolbar-title{
  text-align: center;
  display: inline-block;
  width: 100%;
}

.toolbar-title a {
  text-decoration: none;
  color: white;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
