<div class="main-container">
  <div class="poster-container">
    <div>
      <img class="image-class" src="https://st.kp.yandex.net/images/film_big/817509.jpg">
    </div>
  </div>
  <div class="description-container">
    <div class="title-container">
      <span>Daredevil(2015 - 2018)</span>
    </div>
    <div class="movie-description">
      <div>
        <span>Год производства</span>
        <div>
          <span>2015</span>
        </div>
      </div>
      <div>
        <span>Время</span>
        <div>
          <span>54 min</span>
        </div>
      </div>
    </div>
    <br>
    <br>

    <div>
      <span>Описание</span>
      <br>
      <br>
      <div>
        <span>В результате несчастного случая юный Мэтт Мердок теряет зрение, но зато все остальные его чувства усиливаются в десятки раз. Повзрослев, Мердок понимает, что хочет посвятить свою жизнь защите людей и борьбе с преступностью. Днем он — успешный адвокат, а ночью — мститель в маске по прозвищу Сорвиголова.</span>
      </div>
    </div>
  </div>
</div>
