<mat-toolbar color="primary">
  <span class="toolbar-title">UTM MAX</span>
  <span class="example-spacer"></span>
  <span *ngIf="!user">
    <button mat-flat-button color="accent" routerLink="/auth/register">
      Sign Up
    </button>
    <button mat-button routerLink="/auth/login">
      Sign In
    </button>
  </span>
  <a mat-stroked-button [mat-menu-trigger-for]="accountMenu">
    <img src="assets/images/user.png" width="35" height="35" alt="">
  </a>
</mat-toolbar>


<mat-menu
  #accountMenu="matMenu"
  [overlapTrigger]="false"
  yPosition="below"
  class="nav-account-details__menu"
>
  <button mat-menu-item routerLink="/settings/me">
    <mat-icon matPrefix>account_circle</mat-icon>
    My Profile
  </button>
  <button mat-menu-item routerLink="/auth/logout">
    <mat-icon matPrefix>exit_to_app</mat-icon>
    Sign Out
  </button>
</mat-menu>

